* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

/* Header and nav styles */
header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

nav {
  height: 70px;
}

.nav-links {
  display: flex;
  height: 100%;
}

nav li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 15px;
}

.nav-links .nav-a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 100%;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  margin-left: auto;
}

.nav-a {
  height: 100%;
}

/* Buttons styles */
.btn {
  padding: 5px 10px;
  text-decoration: none;
}

.btn-blue {
  background-color: #0061ff;
  color: white;
}

/* General Styles */
.container {
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  padding: 30px 30px;
  position: relative;
}

/* Main Styles */
.first-section {
  padding-top: 100px;
  background-color: #b4d0e7;
}

.first-section h1 {
  font-size: 70px;
  padding-bottom: 20px;
}

.small-container {
  display: flex;
  justify-content: center;
}

.right-small-container img {
  width: 100%;
}

.left-small-container {
  display: flex;
  flex-direction: column;
  max-width: 33%;
}

.button {
  margin: 40px 0;
}

.fa-arrow-down {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
}

.container h2 {
  font-size: 35px;
  padding-top: 150px;
}

form {
  padding: 50px 0;
}

.table {
  border: 1px solid #e6e6e8;
  width: 30%;
  flex: 1 1 auto;
  margin-bottom: 40px;
}

.table-container {
  padding: 30px;
}

.target {
  border-bottom: 1px solid #e6e6e8;
  text-align: center;
  padding: 5px;
}

.subscribe {
  gap: 50px;
}

.table-container li {
  padding: 15px 0;
}

.buy-now {
  padding-bottom: 50px;
}

.table-button {
  max-width: 220px;
  margin: 40px auto;
}

.table h3,
h4 {
  padding-bottom: 30px;
}

.price {
  font-weight: bold;
}

.fee {
  color: lightgray;
  padding-bottom: 40px;
}

.fa-check {
  color: #1d76ff;
}

.table-large {
  border: 1px solid #e6e6e8;
}

.flex-table-container {
  display: flex;
}

.table-button-flex {
  margin-left: auto;
}

.table-large p {
  max-width: 70%;
}

.table-large h3 {
  margin-bottom: 20px;
}

.table-large .price {
  margin-bottom: 50px;
}
