* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.btn {
  padding: 5px 10px;
  text-decoration: none;
}

.btn-blue {
  background-color: #0061ff;
  color: white;
}

nav {
  height: 70px;
}

.nav-links {
  display: flex;
  height: 100%;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0 15px;
}

.nav-links .nav-a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 100%;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  margin-left: auto;
}

.nav-a {
  height: 100%;
}
